@CHARSET "UTF-8";

h2{
  color: black;
   
 }
 
 button {
  color: white;
  background-color: #003366;
  padding: 20px 20px;
  margin: 8px 0;
  border: 1px #64c242;
  cursor: pointer;
  font-size: 25px;
  margin-right:40px;
  margin-left:40px;
  box-sizing: border-box;
  width: 20%;
  
}