@CHARSET "ISO-8859-1";

body{
	margin:0;
}

.btn{
	background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 10;
  margin-top:0;
  margin-bottom:0;
  padding: 0;
  overflow: hidden;
  background-color: #003366;
}

li {
  float: right;
  color:white;
  padding-right: 10px;

}

li a {
  text-decoration: none;
  display: block;
  padding: 18px;
  color:white;
  font-size:17px;

}

button {
  color: white;
  background-color: #009933;
  padding: 20px 25px;
  margin: 8px 0;
  border: 1px #64c242;
  cursor: pointer;
  font-size: 25px;
  box-sizing: border-box;
  width: 50%;
  
}
