@CHARSET "ISO-8859-1";

body {font-family: Arial, Helvetica, sans-serif;background-color:#D2CECE;box-sizing: border-box;
		margin:0;
}



ul {
  list-style-type: none;
  margin: 10;
  margin-top:0;
  margin-bottom:0;
  padding: 0;
  overflow: hidden;
  background-color: #003366;
}

li {
  float: right;
  color:white;
  padding-right: 10px;

}

li a {
  text-decoration: none;
  display: block;
  padding: 18px;
  color:white;
  font-size:17px;

}



input{
  background-color:#f2f2f2;
  padding: 10px 20px;
  display: inline-block;
  border: 1px #D2CECE;
    box-sizing: border-box;
  width: 90%;

}

::placeholder {
  color: #003366;
  opacity: 1; 
  font-weight: bold;
  
}

h2{
  color: white;
  padding: 28px;
  border: 1px #003366;
  background-color:#003366;
 }

button {
  color: white;
  padding: 10px 5px;
  margin: 8px 0;
  border: 1px #64c242;
  cursor: pointer;
  box-sizing: border-box;
  width: 50%;
  
}


div {
  
  padding:50px;

}