@CHARSET "ISO-8859-1";

body {
font-family:Verdana;
box-sizing: border-box;
margin:0;
 }
 
ul {
  list-style-type: none;
  margin: 10;
  margin-top:0;
  margin-bottom:0;
  padding: 0;
  overflow: hidden;
  background-color: #003366;
}

li {
  float: right;
  color:white;
  padding-right: 10px;

}

li a {
  text-decoration: none;
  display: block;
  padding: 18px;
  color:white;
  font-size:17px;

}

.container input{
  padding: 6px 8px;
  display: inline-block;
  border: 1px #D2CECE;
  border-radius: 5px;
  box-sizing: border-box;
  width: 98%;
 opacity: 1;

}


.container label{
  font-size:15px;
}

.container1 label{
  font-size:15px;
}

.container2 label{
  font-size:15px;
}

.container3 label{
  font-size:15px;
}

.container2 input{
 
  padding: 6px 8px;
  display: inline-block;
  border: 1px #D2CECE;
  border-radius: 5px;
  box-sizing: border-box;
  width: 98%;
  opacity: 1;

}

select{
  padding: 6px 10px;
  display: inline-block;
  border: 1px #D2CECE;
  border-radius: 5px;
  box-sizing: border-box;
  width: 98%;
}





::placeholder {
   
  color:#828783;
}


button {
  color: white;
  padding: 10px 8px;
  border: 1px #64c242;
  cursor: pointer;
  border-radius: 2px;
  box-sizing: border-box;
  width: 40%;
  margin-right: 40px;
  
}


div {
  
  padding:20px;
  opacity: 1;
  
}
